<!doctype html>
{% set navigation_bar = [
    ('index',          'index',        'The Project'),
    ('index',        'details',      'Details'),
    ('index',            'faq',          'FAQ'),
    ('index',   'contributors', 'Contributors'),
    ('index',       'timeline',     'Timeline'),
    ('index',        'roadmap',      'Roadmap'),
    ('index',     'method',   'Methodology'),
    ('index',        'gallery',      'Gallery'),
    ('index',          'about',        'About')
] -%}
<html>

	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
           integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		{% block head %} 
		
		{% endblock %}
		
	</head>
	
	
	
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='panorama_1.png') }}" width="30" height="30"
                    class="navbar-toggler-icon" alt="">
                  The Panorama
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav">
                    {% for funcname, name, caption in navigation_bar %}
                    <li class="nav-item {% if name == active_page %}active{% endif
                        %}">
                        <a class="nav-link"
                            href="{{ url_for(funcname) }}">{{ caption|e }}{% if name == active_page %}<span
                                class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
		{% block body %}
		{% endblock %}
		
	</body>
	
</html>
		
	