{% extends 'base.html' %}

{% block head %}
<title>Panorama</title>

{% endblock %}

{% block body %}
<h1 style="text-align: center;">The Panorama Project</h1>
<h2 style="text-align: center;"><span style="color: #999999;">to find the seed for the Panorama found from 1.7 to 1.12</span></h2>
<p>&nbsp;</p>

<img class="image-wrapper float-left pr-3" src="{{url_for('static', filename='panorama_1.png')}}"
        alt="original pack.png" />
    <div class="single-post-content-wrapper p-3">
        <p class="text-justify">This project branched off the project to find the <a href="https://packpng.com">pack.png seed</a>. The Paranoma project goal is to find the seed of the paranoma in the main menu. Please join the <a href="https://discord.gg/GCwWMZg">Minecraft Reserch discord</a> to contribute to this project and others.
        </p>
    </div>
{% endblock %}

